* {
  font-family: 'Open Sans', sans-serif;
}

.title {
  color: white;
  font-size: 32px;
  font-weight: bold;
  background-color: black;
  padding: 10px 20px;
}

.subTitle {
  font: 28px bold;
  font-size: 32px;
  font-weight: bold;
  padding: 10px 20px;
}

.dropdown {
  font-size: 28px;
  font-style: normal;
  display: flex;
}

.date {
  font-size: 18px;
  font-weight: bold;
}

.temperature {
  font-size: 18px;
  font-style: normal;
}

.list {
  display: inline-block;
}

.button {
  display: block;
}
.cancel {
  margin-right: 5px;
  float: right;
}
