<h1 class="title">Weather Forecast</h1>

<p class="subTitle">City</p>

<select class="dropdown" #mySelect (change)="onOptionsSelected(mySelect.value)">
  <option class="option" *ngFor="let option of cities" [value]="option"
    >{{option}}</option
  >
</select>
<div *ngFor="let item of dataList">
  <p class="date">{{item.day}}</p>
  <p class="date">{{item.date}}</p>
  <img src="{{item.imageSrc}}" alt="{{imageAlt}}" />
  <p class="temperature">{{item.temperature}}</p>
</div>
<button class="subTitle" (click)="onOptionsSelected(mySelect.value)">
  Apply
</button>
<p class="subTitle" *ngIf="errorText">{{errorText}}</p>

<!-- <mat-form-field appearance="fill">
<mat-label>Favorite food</mat-label>
<mat-select [(value)]="selected">
  <mat-option *ngFor="let food of foods" >
    {{food}}
  </mat-option>
</mat-select>
</mat-form-field> -->
